<%= @workout.date %></br>
<%= @workout.workout %></br>
<%= @workout.mood %></br>
<%= @workout.length %></br>

<h3>Add Workout</h3>
	<%= link_to "New Workout", new_workout_path %>

<h3>Add a gym class</h3>
<%= render "gym_classes/form" %>

<%= link_to "Back", root_path %>
<%= link_to "Edit", edit_workout_path(@workout) %>
<%= link_to "Delete", workout_path(@workout), method: :delete, data: { confirm: "Are you sure?" } %>